<div class="page-header cor-principal">
  <div class="row" style="padding:10px 0px 10px 0px">
    <img src="~/images/message-in-a-bottle.png" style="width:96px;height:96px; margin:10px" />
    <h1 style="display:inline; margin:20px; font-size:55px">Capsula do Tempo</h1>
  </div>
</div>
@RenderBody()
<footer class="footer font-small cor-principal">
  <div class="footer-copyright py-3">
    2018 Pedro Catão
    <a href="mailto:pedro.catao.silva@gmail.com" target="_top">pedro.catao.silva@gmail.com</a>
  </div>
</footer>

<style>
  .cor-principal {
    background-color: lightgrey;
  }

  .footer {
    display: block;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }

  .row {
    margin-left: 10px;
    margin-right: 0px !important;
  }

  .tituloCampo {
    font-weight: bold;
    font-size: 14px
  }

  body {
    background-color: #F7F7F7
  }

  h2 {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
</style>