<h1>Capsula do tempo</h1>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/jqueryui/jquery-ui.css" rel="stylesheet" />
<script src="~/lib/jqueryui/jquery-ui.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

