@{
 Layout = "_Layout";
    ViewData["Title"] = "Manual Capsula do Tempo";
}
<h2>Como Funciona?</h2>
<p>Entre na url desejada (ex: capsuladotempoweb.azurewebsites.net/minhacapsula) e se está não existir, crie a sua. simples assim.</p>